.article-card__list-item {
  list-style: none;
  font-size: var(--primary-text-size);
  font-weight: 400;
  letter-spacing: -0.01em;
  line-height: 1.25;
  margin: 0;
  position: relative;
  padding: 0 0 0 1.3em;
}

.article-card__list-item::before {
  content: '';
  background-image: url(../../../images/carousel-arrow.svg);
  height: 1em;
  position: absolute;
  left: 0;
  top: 0.25em;
  width: 1.2em;
  background-repeat: no-repeat;
  background-size: contain;
}

@media screen and (max-width: 640px) {
  .article-card__list-item {
    font-size: var(--mobile-article-small-text-size);
  }
}
