.article__container {
  display: flex;
  flex-direction: column;
  gap: 3.9em;
  margin-left: 38.41em;
  width: 38.9%;
}

@media screen and (max-width: 640px) {
  .article__container {
    margin: 0 auto;
    width: calc(100% - 10em);
  }
}
