.lead {
  display: grid;
  width: var(--sector-width);
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content min-content;
  margin: 0 auto;
}

@media screen and (max-width: 640px) {
  .lead {
    width: var(--mobile-sector-width);
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content min-content;
    padding: 7.5em 0 0;
  }
}
