.carousel__title {
  font-size: var(--title-size);
  font-weight: 400;
  line-height: 0.935;
  letter-spacing: -0.023em;
  text-transform: uppercase;
  width: 18.69em;
  padding: var(--title-padding);
  margin: 0;
}
