.article-links__container {
  width: 67%;
  display: flex;
  border: 1px solid var(--primary-color);
  padding: 0;
  list-style: none;
  margin: 0;
}

@media screen and (max-width: 640px) {
  .article-links__container {
    width: 170em;
    border: none;
  }

  .article-links__container .links__item-wrapper:nth-child(2n) {
    border-left: none;
  }
}
