.article-links__container {
  width: 100%;
  display: flex;
  border: 1px solid var(--primary-color);
  padding: 0;
  list-style: none;
  margin: 0;
}

@media screen and (max-width: 640px) {
  .article-links__container {
    border: none;
    flex-direction: column;
    gap: 5em;
  }
}
