.slider {
  position: relative;
  width: 58%;
  margin: 1.56em 0 3.9em 41.41em;
  user-select: none;
  touch-action: pan-y;
  box-sizing: border-box;
}

@media screen and (max-width: 640px) {
  .slider {
    width: calc(100% - 5em);
    transform: translateX(5em);
    margin: 5em 0 12em;
  }
}
