.article-lead {
  width: var(--sector-width);
  margin: var(--sector-margin) auto 0;
  display: grid;
  grid-template-columns: 20% 20.8% 37.3% auto;
  grid-template-rows: 32.8em 3.125em 28.125em 8.672em 3.125em 21.9em 3.125em 37.5em;
  grid-template-areas:
    'frame1 . primary .'
    'frame1 . . .'
    'frame1 . cite1 .'
    '. . cite1 .'
    '. . . .'
    '. . text1 .'
    '. . . .'
    'image1 image1 image1 image1';
}
