.article-frame__text_border_bottom {
  padding-bottom: 1.25em;
  border-bottom: 1px solid var(--primary-color);
}

@media screen and (max-width: 640px) {
  .article-frame__text_border_bottom {
    display: flex;
    flex-direction: column;
  }
}
