.text__sector {
  text-decoration: none;
  display: flex;
  padding: 3.125em 6.25em 3.91em 0px;
  align-items: center;
  gap: 1.563em;
  height: 6.25em;
  border-bottom: 1px solid var(--primary-color);
}
