.links__item-wrapper {
  width: calc(100% - 6.25em);
  padding: 1.56em 1.56em 1.17em;
  box-sizing: border-box;
  border-right: 1px solid var(--primary-color);
}

.links__item-wrapper:last-child {
  border: none;
}
