.links__item-wrapper {
  width: calc(100% - 6.25em);
  padding: 1.56em 1.56em 1.17em;
  box-sizing: border-box;
  border-right: 1px solid var(--primary-color);
}

.links__item-wrapper:last-child {
  border: none;
}

@media screen and (max-width: 640px) {
  .links__item-wrapper {
    width: 100%;
    border: 1px solid var(--primary-color);
    padding: 5em 5em 3.75em;
  }

  .links__item-wrapper:last-child {
    border: 1px solid var(--primary-color);
  }
}
