.article_grid_banking {
  display: grid;
  grid-template-columns: 30% 10.8% 38.3% auto;
  grid-template-rows: 10.16em 1.17em min-content 3.125em min-content 3.125em min-content 3.125em min-content 3.125em min-content 3.125em min-content 3.125em min-content;
  grid-template-areas:
    'frame1 . primary .'
    'frame1 . . .'
    'frame1 . text1 .'
    'frame1 . . .'
    'frame1 . cite1 .'
    'frame1 . . .'
    'frame1 . text2 .'
    'frame1 . . .'
    'frame1 . card1 .'
    '. . . .'
    '. . text3 .'
    '. . . .'
    '. . text4 .'
    '. . . .'
    '. . cite2 .';
}

@media screen and (max-width: 640px) {
  .article_grid_banking {
    box-sizing: border-box;
    margin: var(--mobile-sector-margin) auto 0;
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows:
      min-content 3.75em min-content 12.5em min-content 12.5em min-content 12.5em
      min-content 12.5em min-content 12.5em min-content 12.5em min-content 12.5em min-content;
    grid-template-areas:
      'primary'
      '.'
      'text1'
      '.'
      'carousel1'
      '.'
      'cite1'
      '.'
      'text2'
      '.'
      'card1'
      '.'
      'text3'
      '.'
      'text4'
      '.'
      'cite2';
  }
}
