.hero__title {
  font-size: 4.453em;
  font-weight: 400;
  line-height: 0.96;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  margin: 169px 0 0;
  padding: 0 0 26px;
  border-bottom: 1px solid var(--primary-color);
}
