.hero__title {
  font-size: 57px;
  font-weight: 400;
  line-height: 0.96; /* 96.491% */
  letter-spacing: -0.57px;
  text-transform: uppercase;
  margin: 169px 0 0;
  padding: 0 0 26px;
  border-bottom: 1px solid var(--primary-color);
}
