.article-frame_flex_row {
  border-right: 1px solid var(--primary-color);
  border-bottom: none;
  padding: 0.4em 1.56em 0.78em;
  box-sizing: border-box;
}

.article-frame_flex_row:last-child {
  border-right: none;
}

@media screen and (max-width: 640px) {
  .article-frame_flex_row {
    padding: 1.25em 5em 2.5em;
  }
}
