.lead__digits-span {
  font-size: 0.25em;
  font-weight: 700;
  line-height: 1.05;
  margin: 0;
  letter-spacing: 0.014em;
  margin: 0 0 0 0.524em;
  text-transform: uppercase;
}

@media screen and (max-width: 640px) {
  .lead__digits-span {
    font-size: 0.23em;
  }
}
