.article-lead__primary-text {
  font-size: var(--primary-text-size);
  padding: 0.2em 0 0.8em;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: -0.01em;
  margin: 0;
  border-bottom: 1px solid var(--primary-color);
  grid-area: primary;
}
