.article-header__sector {
  display: flex;
  padding: 0.63em 1.25em;
  border: 1px solid #fff;
  color: #fff;
  width: max-content;
  font-size: 1.25em;
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: -0.01em;
  align-items: center;
}

@media screen and (max-width: 640px) {
  .article-header__sector {
    position: absolute;
    font-size: 4em;
    top: -4.375em;
    left: 0.625em;
  }
}
