/* html {
  font-size: 20px;
} */

.root {
  font-size: 1vw;
  --text-size: 20px;
  --text-color: #262626;
  --dark-color: #262626;
  --yc-primary-gradient: linear-gradient(
    180deg,
    #5d81f7 0%,
    rgba(93, 129, 247, 0) 89.58%
  );
  --primary-color: #5d81f7;
}
