.lead__container {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  display: flex;
  height: 46.875em;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  border: 1px solid var(--primary-color);
}

.lead__container:first-child {
  grid-column: 1 / 2;
  border-right: none;
  padding: 3.516em 3.125em 2.34em;
}

.lead__container:nth-child(2n) {
  padding: 2.34em 3.125em;
}

.lead__container:last-child {
  grid-row: 2 / 3;
  border-top: none;
  padding: 3.516em 3.125em 2.34em;
}

@media screen and (max-width: 640px) {
  .lead__container {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    border: none;
    height: 90em;
    box-sizing: border-box;
    width: 100%;
  }

  .lead__container:first-child {
    grid-row: 1 / 2;
    padding: 0;
    justify-content: flex-start;
    gap: 3.75em;
    height: auto;
  }

  .lead__container:nth-child(2n) {
    border: 1px solid var(--primary-color);
    border-bottom: none;
    padding: 1.25em 5em 2.5em;
    margin: 12.5em 0 0;
  }

  .lead__container:last-child {
    grid-row: 3 / 4;
    padding: 3.516em 3.125em 2.34em;
    border: 1px solid var(--primary-color);
  }
}
