.lead__container {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  display: flex;
  height: 46.875em;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  border: 1px solid var(--primary-color);
}

.lead__container:first-child {
  grid-column: 1 / 2;
  border-right: none;
  padding: 3.516em 3.125em 2.34em;
}

.lead__container:nth-child(2n) {
  padding: 2.34em 3.125em;
}

.lead__container:last-child {
  grid-row: 2 / 3;
  border-top: none;
  padding: 3.516em 3.125em 2.34em;
}
