.carousel__article-cover {
  height: 47em;
  width: 50%;
  box-sizing: border-box;
  background: var(--primary-gradient);
  position: relative;
}

@media screen and (max-width: 640px) {
  .carousel__article-cover {
    width: 100%;
    height: 90em;
    background: var(--mobile-text-gradient);
  }
}
