.carousel__card-list {
  margin: 0;
  padding: 0.313em 1.56em 2.03em;
  gap: 0.78em;
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 640px) {
  .carousel__card-list {
    gap: 0;
    padding: 1em 5em 5em;
  }
}
