.article {
  width: var(--sector-width);
  margin: var(--article-sector-margin) auto 0;
}

@media screen and (max-width: 640px) {
  .article {
    width: var(--mobile-sector-width);
    margin: 12.5em auto 0;
  }
}
