.article-metall-adv__frame_order_third {
  grid-area: frame3;
  padding: 1.56em;
  height: auto;
}

@media screen and (max-width: 640px) {
  .article-metall-adv__frame_order_third {
    padding: 5em;
  }
}
