.article-primary {
  font-size: var(--middle-text-size);
  padding: var(--middle-text-padding);
  font-weight: 400;
  line-height: 1.05;
  letter-spacing: -0.01em;
  margin: 0;
  grid-area: primary;
}

@media screen and (max-width: 640px) {
  .article-primary {
    font-size: var(--mobile-middle-text-size);
  }
}
