.article-quote__text {
  margin: 0;
  font-size: var(--small-text-size);
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: -0.01em;
  padding: var(--article-small-text-padding);
}

@media screen and (max-width: 640px) {
  .article-quote__text {
    font-size: var(--mobile-article-small-text-size);
    padding: 0;
  }
}
