.hero__image {
  object-fit: contain;
  /* width: 100%; */
  position: absolute;
  /* bottom: 0; */
}

@media screen and (max-width: 640px) {
  .hero__image {
    position: relative;
  }
}

.hero__image_type_tablet {
  top: 42px;
  left: 31px;
}
