.hero__image {
  object-fit: contain;
  position: absolute;
  transition: 0.4s ease-out;
}

@media screen and (max-width: 640px) {
  .hero__image {
    position: relative;
  }
}

.hero__image_type_dot1 {
  height: 1.72em;
  width: 1.72em;
  top: 2.58em;
  left: 6em;
}

.hero__image_type_dot2 {
  height: 2em;
  width: 2em;
  top: 23.4em;
  left: 24.4em;
}

.hero__image_type_dot3 {
  height: 2.97em;
  width: 2.97em;
  bottom: 11em;
  left: 5.6em;
}

.hero__image_type_dot4 {
  height: 2.27em;
  width: 2.27em;
  bottom: 9.9em;
  right: 22em;
}

.hero__image_type_dot5 {
  height: 1.4em;
  width: 1.4em;
  top: 2.8em;
  right: 10.9em;
}

.hero__image_type_tablet1 {
  height: 7.58em;
  width: 8.98em;
  top: 4.28em;
  left: 5.42em;
  z-index: 2;
}

.hero__image_type_tablet2 {
  height: 14.3em;
  width: 19.3em;
  bottom: 17em;
  left: 3.5em;
  z-index: 2;
}

.hero__image_type_tablet3 {
  height: 9em;
  width: 11em;
  top: 3.67em;
  right: 7.4em;
  z-index: 2;
}

.hero__image_type_tablet4 {
  height: 13.1em;
  width: 18.5em;
  top: 15.8em;
  right: 4.77em;
  z-index: 2;
}

.hero__image_type_tablet5 {
  height: 21.3em;
  width: 25.4em;
  bottom: -4.8em;
  right: -1.4em;
  z-index: 2;
}

.hero__image_type_star1 {
  width: 15.55em;
  height: 17.5em;
  left: 17.3em;
  top: 3.05em;
}

.hero__image_type_star2 {
  width: 11em;
  height: 9.92em;
  left: 3.1em;
  top: 10em;
}

.hero__image_type_star3 {
  width: 12.6em;
  height: 12.6em;
  left: 12.7em;
  bottom: 6em;
}

.hero__image_type_star4 {
  width: 9.92em;
  height: 8.36em;
  right: 1.95em;
  top: 11.3em;
  z-index: 3;
}

.hero__image_type_circle1 {
  width: 17.2em;
  height: 17.2em;
  right: 4.3em;
  bottom: 8.6em;
}
