.article-metall__text-block {
  display: flex;
  flex-direction: column;
  width: 100%;
  grid-area: text2;
  height: min-content;
  gap: 1.56em;
}

@media screen and (max-width: 640px) {
  .article-metall__text-block {
    gap: 5em;
  }
}
