.footer {
  padding: 2.5em;
  margin: 0 auto;
  background-color: var(--primary-color);
  font-size: var(--small-text-size);
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: -0.01em;
  display: flex;
}

@media screen and (max-width: 640px) {
  .footer {
    padding: 1.75em 1.25em 2em;
    font-size: 4em;
    flex-direction: column;
    gap: 1.125em;
  }
}
