.article-framer {
  display: flex;
  flex-direction: column;
  width: 100%;
  grid-area: frame1;
  border: 1px solid var(--primary-color);
  height: min-content;
}

/* убирает наслаивание бордеров на стыке двух контейнеров в мобилке */
@media screen and (max-width: 640px) {
  .article-framer:nth-child(2n + 2) {
    border-top: none;
  }
}
