.hero__image-container {
  background: var(--yc-primary-gradient);
  width: 50%;
  padding: 3.125em;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

@media screen and (max-width: 640px) {
  .hero__image-container {
    width: 100%;
    padding: 30.25em 5em 10em;
  }
}
