.text__article {
  display: flex;
  flex-direction: column;
  gap: 3.125em;
  border-left: 1px solid var(--primary-color);
  padding: 3.91em 3.125em;
  width: 50%;
  box-sizing: border-box;
}

@media screen and (max-width: 640px) {
  .text__article {
    gap: 10em;
    border-left: none;
    padding: 0;
    margin: 8.75em auto 0;
    width: 100%;
  }
}
