@media screen and (max-width: 640px) {
  .main-animation__faderight {
    transform: translate(5em, -20px);
    animation: mainFadeRight 0.5s forwards 0.3s;
  }

  @keyframes mainFadeRight {
    0% {
      transform: translate(5em, -20px);
      opacity: 0;
    }
    100% {
      transform: translate(5em, 0);
      opacity: 1;
    }
  }
}
