.links__article-text {
  font-size: var(--primary-text-size);
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: -0.01em;
  width: 50%;
  box-sizing: border-box;
  margin: 0;
  padding: 2.7em 2em 2.8em;
}

@media screen and (max-width: 640px) {
  .links__article-text {
    font-size: var(--mobile-primary-text-size);
    padding: var(--mobile-primary-text-padding);
    width: 100%;
  }
}
