.carousel {
  display: flex;
  flex-direction: column;
  gap: 3.91em;
  width: var(--sector-width);
  margin: var(--sector-margin) auto 0;
}

@media screen and (max-width: 640px) {
  .carousel {
    gap: 10em;
    width: 100%;
    margin: var(--mobile-sector-margin) auto 0;
    box-sizing: border-box;
  }
}
