.article-carousel_screen_desktop {
  overflow-x: scroll;
  width: 100%;
  transform: translateX(0);
}

@media screen and (max-width: 640px) {
  .article-carousel {
    overflow-x: scroll;
    transform: translateX(5em);
    width: calc(100% - 5em);
  }
}
