@media screen and (max-width: 640px) {
  .animation__faderight {
    transform: translate(5em, 20px);
    opacity: 0;
    animation: fadeRight 1s forwards;
    z-index: 3;
  }

  @keyframes fadeRight {
    0% {
      transform: translate(5em, 20px);
      opacity: 0;
    }
    100% {
      transform: translate(5em, 0);
      opacity: 1;
    }
  }
}
