.article-metall-adv__frame_border_right {
  border-right: none;
}

@media screen and (max-width: 640px) {
  .article-metall-adv__frame_border_right {
    border-right: 1px solid var(--primary-color);
    border-bottom: none;
  }
}
