.article-header__link {
  position: absolute;
  top: -0.1em;
  left: -0.07em;
  text-decoration: none;
}

@media screen and (max-width: 640px) {
  .article-header__link {
    top: 5em;
    left: 8.5em;
  }
}
