.carousel__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-decoration: none;
  width: calc(1200px / 3);
  border-right: 1px solid var(--primary-color);
}

.carousel__card:last-child {
  border: none;
}
