.carousel__paragraphs {
  display: flex;
  padding: 3.91em 3.125em;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 1.17em;
  width: 50%;
  box-sizing: border-box;
  margin: 0;
  border-right: 1px solid var(--primary-color);
  border-bottom: 1px solid var(--primary-color);
}
