.links__item-image {
  object-fit: contain;
  position: absolute;
}

.links__item-image_type_tablet1 {
  width: 5.5em;
  height: 4.7em;
  top: 1.25em;
  left: 7.1em;
  z-index: 2;
}

@media screen and (max-width: 640px) {
  .links__item-image_type_tablet1 {
    width: 17em;
    height: 15em;
    top: -5em;
    left: 18.2em;
  }
}

.links__item-image_type_tablet2 {
  width: 11.9em;
  height: 8.9em;
  bottom: 1.25em;
  right: 6.5em;
  z-index: 2;
}

@media screen and (max-width: 640px) {
  .links__item-image_type_tablet2 {
    width: 37.5em;
    height: 28em;
    top: 13.5em;
    left: 26em;
  }
}

.links__item-image_type_tablet3 {
  width: 14em;
  height: 12.4em;
  top: 1.25em;
  left: -1.25em;
}

@media screen and (max-width: 640px) {
  .links__item-image_type_tablet3 {
    width: 43.7em;
    height: 38.7em;
    top: -5.7em;
    left: -9.25em;
  }
}

.links__item-image_type_tablet4 {
  width: 10.3em;
  height: 6.4em;
  bottom: -2.96em;
  right: 4.45em;
}

@media screen and (max-width: 640px) {
  .links__item-image_type_tablet4 {
    width: 27em;
    height: 23.7em;
    bottom: -12.7em;
    right: 12em;
  }
}

.links__item-image_type_tablet5 {
  width: 9.45em;
  height: 8em;
  top: 0.7em;
  right: -1.25em;
}

@media screen and (max-width: 640px) {
  .links__item-image_type_tablet5 {
    width: 29.2em;
    height: 25em;
    top: -7.5em;
    right: -5.7em;
  }
}

.links__item-image_type_tablet6 {
  width: 14.7em;
  height: 12.2em;
  bottom: -1.1em;
  left: 6.7em;
  z-index: 2;
}

@media screen and (max-width: 640px) {
  .links__item-image_type_tablet6 {
    width: 41.7em;
    height: 35em;
    bottom: -14.5em;
    left: 19em;
  }
}

.links__item-image_type_tablet7 {
  width: 6.7em;
  height: 6.25em;
  top: -1.1em;
  right: 4.5em;
}

@media screen and (max-width: 640px) {
  .links__item-image_type_tablet7 {
    width: 19em;
    height: 17.7em;
    top: -5em;
    right: 13em;
  }
}

.links__item-image_type_star1 {
  width: 9.8em;
  height: 9.8em;
  top: 3.6em;
  left: 1.7em;
}

@media screen and (max-width: 640px) {
  .links__item-image_type_star1 {
    width: 31em;
    height: 31em;
    top: 2.5em;
    left: 1em;
  }
}

.links__item-image_type_star2 {
  width: 7.6em;
  height: 6.7em;
  top: 2.5em;
  right: 1.7em;
}

@media screen and (max-width: 640px) {
  .links__item-image_type_star2 {
    width: 24em;
    height: 21.2em;
    top: -1em;
    right: 1.3em;
  }
}

.links__item-image_type_star3 {
  width: 7.7em;
  height: 6.6em;
  top: 6.4em;
  right: 5.8em;
}

@media screen and (max-width: 640px) {
  .links__item-image_type_star3 {
    width: 24em;
    height: 20em;
    top: 10.2em;
    right: 16em;
  }
}

.links__item-image_type_star4 {
  width: 10.8em;
  height: 12em;
  top: -1em;
  left: 0;
}

@media screen and (max-width: 640px) {
  .links__item-image_type_star4 {
    width: 30.7em;
    height: 34.5em;
    top: -5em;
    left: 0em;
  }
}

.links__item-image_type_star5 {
  width: 7.7em;
  height: 7.7em;
  top: 5.6em;
  right: 0;
}

@media screen and (max-width: 640px) {
  .links__item-image_type_star5 {
    width: 21.7em;
    height: 21.7em;
    top: 14em;
    right: 0em;
  }
}

.links__item-image_type_dot1 {
  width: 1.56em;
  height: 1.56em;
  top: 3.9em;
  right: 10.5em;
}

@media screen and (max-width: 640px) {
  .links__item-image_type_dot1 {
    width: 4.7em;
    height: 4.7em;
    top: 3em;
    left: 46em;
  }
}

.links__item-image_type_dot2 {
  width: 1.4em;
  height: 1.4em;
  top: 5.5em;
  left: 13.12em;
}

@media screen and (max-width: 640px) {
  .links__item-image_type_dot2 {
    width: 4.5em;
    height: 4.5em;
    top: 7.25em;
    left: 35.5em;
  }
}

.links__item-image_type_dot3 {
  width: 1em;
  height: 1em;
  top: 2.6em;
  right: 11.6em;
}

@media screen and (max-width: 640px) {
  .links__item-image_type_dot3 {
    width: 3em;
    height: 3em;
    top: 5.5em;
    right: 33em;
  }
}

.links__item-image_type_dot4 {
  width: 2.3em;
  height: 2.3em;
  top: 5.1em;
  right: 7.7em;
}

@media screen and (max-width: 640px) {
  .links__item-image_type_dot4 {
    width: 6.5em;
    height: 6.5em;
    top: 12.5em;
    right: 22em;
  }
}
