.lead__digits {
  font-size: 8.93em;
  font-weight: 400;
  line-height: 1.05;
  letter-spacing: -0.04em;
  color: var(--primary-color);
  margin: 0;
  padding: 0.035em 0 0.009em;
}

@media screen and (max-width: 640px) {
  .lead__digits {
    font-size: 21.43em;
    padding: 0;
  }
}
