.slider__list {
  width: 100%;
  height: 28.4em;
  box-sizing: border-box;
  overflow-x: scroll;
  scrollbar-width: none;
}
.slider__list::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 640px) {
  .slider__list {
    height: 90.5em;
  }
}
