.carousel__card-item {
  list-style-type: none;
  position: relative;
  padding: 0 0 0 1.3em;
  font-size: var(--primary-text-size);
  font-weight: 400;
  line-height: 1.25;
  letter-spacing: -0.005em;
}

.carousel__card-item::before {
  content: '';
  background-image: url(../../../images/carousel-arrow.svg);
  width: 0.8em;
  height: 1em;
  position: absolute;
  left: 0;
  top: 0.4em;
  background-repeat: no-repeat;
  background-size: contain;
}

@media screen and (max-width: 640px) {
  .carousel__card-item {
    font-size: 4em;
    padding: 0.25em 0 0.375em 1.625em;
  }

  .carousel__card-item::before {
    width: 1.25em;
    height: 1em;
    top: 0.5em;
  }
}
