.article-header__wrapper {
  width: 51%;
  max-width: 43.75em;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 1.56em;
}

@media screen and (max-width: 640px) {
  .article-header__wrapper {
    width: 100%;
    order: 1;
    position: relative;
    max-width: unset;
  }
}
