.article-header__image {
  background: var(--article-header-gradient);
  width: 48.3%;
  height: 37.5em;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 640px) {
  .article-header__image {
    width: 100%;
    height: 56em;
  }
}
