.article-metall-adv__frames {
  display: flex;
  flex-direction: column;
  padding: 0;
  grid-area: frames;
  margin: 0;
}

@media screen and (max-width: 640px) {
  .article-metall-adv__frames .article-metall-adv__frame {
    gap: 1.2em;
  }
}
