.carousel__article-image {
  background-image: url(../../../images/carousel-image.png);
  padding-bottom: 50%;
  width: 50%;
  height: 0;
}

@media screen and (max-width: 640px) {
  .carousel__article-image {
    padding-bottom: 100%;
    width: 100%;
  }
}
