.carousel__article-image {
  background-image: url(../../../images/carousel-image.png);
  padding-bottom: 100%;
  width: 100%;
  height: 0;
  background-size: contain;
  background-repeat: no-repeat;
}
