.article-metall-adv__frame {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3.125em;
  border: 1px solid var(--primary-color);
  height: 18.36em;
  box-sizing: border-box;
  list-style: none;
}

@media screen and (max-width: 640px) {
  .article-metall-adv__frame {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2.5em;
    padding: 5em;
    height: auto;
  }
}
