.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: var(--sector-margin) auto;
  width: var(--sector-width);
}

@media screen and (max-width: 640px) {
  .form {
    margin: var(--mobile-sector-margin) auto;
    width: var(--mobile-sector-width);
  }
}
