.article-metall-adv {
  width: var(--sector-width);
  margin: var(--sector-margin) auto 0;
  display: grid;
  grid-template-columns: 40% 40% auto;
  grid-template-rows: min-content 6.25em min-content min-content 4.69em min-content 4.69em min-content;
  grid-template-areas:
    'image1 image1 image1'
    '. . .'
    'frame1 frames .'
    '. frames .'
    '. . .'
    '. cite1 .'
    '. . .'
    '. frame3 .';
}
