.carousel__article {
  display: flex;
  height: min-content;
}

@media screen and (max-width: 640px) {
  .carousel__article {
    flex-direction: column;
    gap: 10em;
    box-sizing: border-box;
    padding: 0 5em;
  }
}
