.article-quote__name {
  display: flex;
  flex-direction: column;
  font-size: var(--small-text-size);
  font-weight: 400;
  letter-spacing: -0.01em;
  line-height: 1.25;
  margin: 0;
  padding: var(--article-small-text-padding);
  gap: 0.06em;
}

@media screen and (max-width: 640px) {
  .article-quote__name {
    font-size: var(--mobile-article-small-text-size);
  }
}
