.article-image {
  grid-area: image1;
  width: 100%;
  aspect-ratio: 2.5;
}

@media screen and (max-width: 640px) {
  .article-image {
    aspect-ratio: 0.75;
    object-fit: cover;
    object-position: -240px;
  }
}
