.article-image {
  grid-area: image1;
  width: var(--sector-width);
  margin: 3.125em auto 0;
  display: flex;
  aspect-ratio: 2.5;
}

@media screen and (max-width: 640px) {
  .article-image {
    aspect-ratio: 0.75;
    object-fit: cover;
    object-position: -240px;
    margin: 10em auto 0;
    width: var(--mobile-sector-width);
  }
}
