.article__container_width_larger {
  width: 58%;
  margin: 1.56em 0 3.9em 41.41em;
}

@media screen and (max-width: 640px) {
  .article__container_width_larger {
    margin: 5em 0 12em;
    width: 100%;
  }
}
